@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HanaFont';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/HanaM.woff') format('woff');
}

@font-face {
  font-family: 'AntonFont';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Anton-Regular.tff') format('tff');
}

@font-face {
  font-family: 'DohyunFont';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/BMDOHYEON_otf.otf') format('otf');
}

video {
  object-fit: inherit;
  width: auto;
  height: 390px;
  border-radius: 8px;
}

video[poster] {
  width: 694px;
  height: 390px;
  background-size: 694px 390px;
  object-fit: contain;
}

.canvasContainer {
  width: 70%;
  height: 70%;
}

.canvasStyle {
  width: 100%;
  height: 100%;
}